<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apotik.pbo2.apotiku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".UserActivity" />
        <activity android:name=".Tambah_Activity" />
        <activity android:name=".Daftar_Obat" />
        <activity android:name=".Baca.Baca_Obat"/>
        <activity android:name=".Baca.Baca_Batuk"/>
        <activity android:name=".Baca.Baca_Demam"/>
        <activity android:name=".Baca.Baca_Flu"/>
        <activity android:name=".Baca.Baca_Pusing"/>
        <activity android:name=".Baca.Baca_Maag"/>
        <activity android:name=".Baca.Baca_Sakit_Perut"/>
        <activity android:name=".Baca.Baca_Luar"/>
        <activity android:name=".Baca.Baca_Lain">
        </activity>
    </application>

</manifest>